<div [flightE2eLocator]="'flight-card-' + item.id"
     style="padding:20px;"

     [@select]="isSelected()"

     [@hover]="hoverState"
     (mouseenter)="toggleHover()"
     (mouseleave)="toggleHover()"

     @specialAnimation
     (@specialAnimation.start)="setStatus($event)"
     (@specialAnimation.done)="setStatus($event)"

     (swipeleft)="select()"
>
    <h2>{{item.from}} - {{item.to}}</h2>
    <p>Flugnr. #{{item.id}}</p>
    <p>Datum (Default=de): {{item.date | date:'long'}}</p>   
    <p>Datum (de-AT): {{item.date | date:'long':'': 'de-AT'}}</p>       
    <p>Datum (es): {{item.date | date:'long':'': 'es'}}</p>       

    <div style="height:40px">
        <p>
            <input *ngIf="hoverState"
                   @button

                   type="button"
                   value="Auswählen"
                   class="btn btn-default"
                   (click)="select()"/>
        </p>
    </div>

    <ng-content></ng-content>

</div>
